  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Sarah's <strong>Watch List</strong></h1>
    <p>Everything else is irrelevant</p>
  </div>
  </div>
<div class="container py-5" style='flex-direction:row'>
<div class="d-flex">
    <% @lists.each do |list| %>
      <div class="card-category">
          <p><%= link_to list.name, list_path(list) %></p>
      </div>
    <% end %>
  </div>
</div>
</div>
